#include <physical_layouts.dtsi>

/ {
    physical_layout_fulmen: physical_layout_fulmen {
        compatible = "zmk,physical-layout";
        display-name = "Fulmen";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    4  107  (-500)    54   157>
            , <&key_physical_attrs 100 100  110   30  (-200)   160    80>
            , <&key_physical_attrs 100 100  210    2  (-200)   260    52>
            , <&key_physical_attrs 100 100  318   31       0     0     0>
            , <&key_physical_attrs 100 100  418   41       0     0     0>
            , <&key_physical_attrs 100 100  956   41       0     0     0>
            , <&key_physical_attrs 100 100 1056   31       0     0     0>
            , <&key_physical_attrs 100 100 1164    2     200  1214    52>
            , <&key_physical_attrs 100 100 1263   30     200  1313    80>
            , <&key_physical_attrs 100 100 1369  107     500  1419   157>
            , <&key_physical_attrs 100 100   13  206  (-500)    63   256>
            , <&key_physical_attrs 100 100  114  130  (-200)   164   180>
            , <&key_physical_attrs 100 100  213  102  (-200)   263   152>
            , <&key_physical_attrs 100 100  318  131       0     0     0>
            , <&key_physical_attrs 100 100  418  141       0     0     0>
            , <&key_physical_attrs 100 100  956  141       0     0     0>
            , <&key_physical_attrs 100 100 1056  131       0     0     0>
            , <&key_physical_attrs 100 100 1160  102     200  1210   152>
            , <&key_physical_attrs 100 100 1259  130     200  1309   180>
            , <&key_physical_attrs 100 100 1360  206     500  1410   256>
            , <&key_physical_attrs 100 100   22  306  (-500)    72   356>
            , <&key_physical_attrs 100 100  117  230  (-200)   167   280>
            , <&key_physical_attrs 100 100  216  202  (-200)   266   252>
            , <&key_physical_attrs 100 100  318  231       0     0     0>
            , <&key_physical_attrs 100 100  418  241       0     0     0>
            , <&key_physical_attrs 100 100  956  241       0     0     0>
            , <&key_physical_attrs 100 100 1056  231       0     0     0>
            , <&key_physical_attrs 100 100 1157  202     200  1207   252>
            , <&key_physical_attrs 100 100 1256  230     200  1306   280>
            , <&key_physical_attrs 100 100 1351  306     500  1401   356>
            , <&key_physical_attrs 100 100  331  371     200   381   421>
            , <&key_physical_attrs 100 100  436  384    1150   486   434>
            , <&key_physical_attrs 100 100  540  419    2480   590   469>
            , <&key_physical_attrs 100 100  833  419 (-2480)   883   469>
            , <&key_physical_attrs 100 100  937  384 (-1150)   987   434>
            , <&key_physical_attrs 100 100 1042  371  (-200)  1092   421>
            ;
    };
};
